@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Epilogue", sans-serif;
  overflow-x: clip;
}

body {
  margin: 0;
  color: #fff;
  background-color: #000;
}

.righteous {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

noscript {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Righteous", sans-serif;
  font-size: 36px;
  height: 100vh;
}

.experienceDot::before {
  content: "";
  z-index: 1;
  width: 8px;
  height: 8px;
  margin-top: 8px;
  border-radius: 50%;
  position: absolute;
  background-color: #FFFFFFC0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

li {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}